* {
    box-sizing: border-box;
  }
  
  .html {
      background-color: white;
      overflow-x: hidden;
      max-width: 100%;
      max-height: 100%;
      scroll-behavior: smooth;
      scroll-padding: 3em;
      font-family: "Mundial, sans serif";
      background-color: black;
   }
  
   .body {
    background-color: black;
    height: fit-content;
    scroll-behavior: smooth;
    scroll-padding: 7em;
   }
  
   .navbar {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 99;
    border-bottom: 1px solid #efbf04;
   }
   
   .navbar-toggler {
    border: 0.5px solid #efbf04;
   }

   .navbar-toggler:hover {
    border: 0.5px solid #9b1313;
   }

   .navbar-brand-container {
    text-align: center;
    justify-content: center;
    align-items: center;
   }

   .navbar-brand {
    height: 1vw;
    width: auto;
    text-transform: uppercase;
    color: #efbf04;
   }

   .navbar-brand:hover {
    color: #9b1313;
   }
  
   .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(212,175,55)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    height: 3vh;
    width: 4.5vh;
   }

   .navbar-dark .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }
  
   .navbar-dark .nav-link {
    font-size: medium;
    font-weight: 500;
    color: gold;
   }

   .nav-item #Domu-link {
    font-size: 1.82vw;
   }
   
   .nav-item #O-mne-link {
     font-size: 1.82vw;
   }

   .nav-item #Sluzby-link {
    font-size: 1.82vw;
   }
  
   .nav-item #Kontakt-link {
    font-size: 1.82vw;
   }

   .nav-item:hover {
    text-decoration: underline 2px #9b1313;
   }

   .header {
    position: inherit;
    padding-top: 35px;
   }

   .header h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 30vw;
    left: 21vw;
    color: #9b1313;
    font-size: 4vw;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px #333, 0 0 0.1rem #efbf04;
   }

   .header h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 35vw;
    left: 28.5vw;
    color: whitesmoke;
    font-size: 3.5vw;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #efbf04;
   }

   .header p {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 45.5vw;
    left: 37.2vw;
    color: whitesmoke;
    font-size: 2.5vw;
    font-stretch: ultra-condensed;
   }

   .header-image-container {
    position: relative;
    height: auto;
    width: fit-content;
    overflow: hidden;
    border-left: 1px solid #efbf04;
    border-right: 1px solid #efbf04;
   }

   .header-image-container img {
    width: 100%;
   }

   .cta-button {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 52.5vw;
    left: 18.7%;
    color: #9b1313;
    font-size: 1.5vw;
    font-weight: 600;
    background-color: #efbf04;
    padding: 0.8vh 1vh;
    border-radius: 3vh;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 0 1.5px black;
    box-shadow: 1.8px 1.8px 3px rgba(221, 5, 5, 0.9);
   }

   .cta-button:hover {
    color: black;
    background-color: whitesmoke;
    box-shadow: 1.8px 1.8px 3px #efbf04;
   }


.divider {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #efbf04;
    z-index: 98;
}

.divider img {
    position: relative;
    margin-left: 48%;
    height: 6vw;
    width: auto;
    padding: 0.5vw;
}

.divider-2 {
    position: relative;
    width: 100%;
    height: 1vw;
    background-color: #efbf04;
    z-index: 98;
}

.button-container {
    display: flex;
    grid-gap: 3vw;
    width: fit-content;
    height: auto;
    margin-top: 2vw;
    margin-left: 7.3vw;
    /* background-color: aliceblue; */
}

button {
    padding: 1.5vw 2vw;
    font-size: 2vw;
    cursor: pointer;
    border: none;
    border-radius: 2vw;
    background-color: #333; /* Dark background */
    color: whitesmoke; /* White text */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555; /* Lighter on hover */
    color: goldenrod;
}

button.active {
    background-color: #efbf04; /* Active button color */
    color: black;
}

.hidden {
    display: none; /* Hide text initially */
}

.O-mne {
    background-color: black;
    height: 50vw;
    display: flex;
    border-left: 1px solid #efbf04;
    border-right: 1px solid #efbf04;
}

.O-mne-image {
    position: inherit;
    height: auto;
    width: fit-content;
    overflow: hidden;
    max-width: 100%;
}

.O-mne-image img {
   height: 50vw;
   width: auto;
}

.O-mne h1 {
    margin-top: 1.8vw;
    margin-left: 6vw;
    color: #9b1313;
    font-size: 2.5vw;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px #efbf04, 0 0 0.1rem #efbf04;
}

.O-mne h2 {
    margin-left: 7.3vw;
    color: whitesmoke;
    font-size: 2.8vw;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0.5px #efbf04;
}

.O-mne p {
    margin-left: 7.3vw;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 2vw;
    font-weight: 500;
    font-stretch: semi-condensed;
    text-shadow: 0 0 0.1px #555;
}

#toggle-1 p {
    margin-top: 1.5vw;
}

#toggle-2 p {
    margin-top: -1.5vw;
}

.Sluzby {
    display: grid;
    background-color: black;
    border-left: 1px solid #efbf04;
    border-right: 1px solid #efbf04;
}

.Sluzby .first-h1 {
    font-size: 3vw;
    font-weight: 700;
    color: whitesmoke;
    text-align: center;
    padding-top: 5vw;
}

.Sluzby h1 {
    font-size: 3vw;
    font-weight: 600;
    text-transform: uppercase;
}

.Sluzby .normal-text {
    font-size: 2.1vw;
}

.Sluzby .hidden {
    font-size: 2.1vw;
}

.image-container {
    display: grid;
    justify-content: space-between;
    gap: 5vw; /* Space between images */
    padding: 6vw;
}

.image-item {
    position: relative;
    width: 100%; /* Set width for each image item */
    overflow: hidden; /* Prevent overflow */
    left: 5%;
}

.image-item:hover {
    transform: scale(1.03);
    box-shadow: 0.5px 0.5px 5px 1px #efbf04;
}

.image-item img {
    width: 80vw; /* Responsive */
    height: auto; /* Maintain aspect ratio */
}

.image-item h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center; /* Center the text vertically */
    align-items: center; /* Center the text horizontally */
    text-align: left;
    padding: 3.5vw;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    flex-direction: column;
    justify-content: center; /* Center the text vertically */
    align-items: center; /* Center the text horizontally */
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
    color: white; /* Text color */
    text-align: left;
    transition: opacity 0.8s ease; /* Smooth show/hide effect */
    padding: 3.5vw;

}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    transition: opacity 0.8s ease; /* Smooth show/hide effect */
}

.normal-text {
    margin: 0; /* Remove margin */
    color: #efbf04;
    font-stretch: condensed;
    text-shadow: 0 0 5px black;
}

.hover-text {
    margin: 0; /* Remove margin */
    display: none; /* Hide hover text by default */
    font-size: 2vw;
}

.image-item:hover .normal-text {
    display: none; /* Hide normal text on hover */
}

.image-item:hover .hover-text {
    display: block; /* Show hover text on hover */
    color: #efbf04;
    font-stretch: condensed;
    text-shadow: 0 0 5px black;
}

.container-fluid-footer {
    padding-left: 2vw;
    padding-right: 3vw;
    border-left: 1px solid #efbf04;
    border-right: 1px solid #efbf04;
}

.container-fluid-footer hr {
    color: #efbf04;
    margin-bottom: -2vw;
}

.container-fluid-footer #footer-text {
    font-size: 1.8vw;
    color: #efbf04;
}

.cta-div-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -4.2vw;
}

.cta-button-2 {
    position: relative;
    color: #9b1313;
    font-size: 1.5vw;
    font-weight: 600;
    background-color: #efbf04;
    padding: 0.8vh 1vh;
    border-radius: 3vh;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 0 1.5px black;
    box-shadow: 1.8px 1.8px 3px rgba(221, 5, 5, 0.9);
   }

   .cta-button-2:hover {
    color: black;
    background-color: whitesmoke;
    box-shadow: 1.8px 1.8px 3px #efbf04;
   }